.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__image-link {
    height: 100%;
    display: block;
    width: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__image-item {
    position: fixed;
    top: 50%;
  }

  &__image-container {
    flex-grow: 1;
  }

  &__dropdown {
    display: none;

    @include onDesktop {
      display: block;
    }
  }
}
