.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 95vh;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
    font-size: 12px;
    align-items: flex-start;


    @include onTablet {
      font-size: 14px;
      gap: 20px;
      flex-direction: row;
    }

    @include onDesktop {
      align-items: center;
    }
  }

  &__image {
    height: 80%;
    width: auto;
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }


  &__user {
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-start;
  }

  &__user-img {
    border-radius: 100%;
  }

  &__tags {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__tag-link {
    text-decoration: none;
    background-color: #eee;
    color: gray;
    padding: 10px;
  }

  &__close {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    top: 10px;
    left: 10px;
  }
}
