.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 100px;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
    border: 1px solid ;
    border-radius: 4px;
    color: $white-c;
    background-color: $dark-c;
    background-size: cover;
    text-decoration: none;

    &.is-active {
      background-color: $link-color;
      color: $dark-c;
    }

    &.disabled {
      pointer-events: none;
      background-color: gray;
    }
  }

  &__button-next {
    background-image: url("../img/navigate_next_FILL0_wght400_GRAD0_opsz48.svg");
  }

  &__button-prev {
    background-image: url("../img/navigate_before_FILL0_wght400_GRAD0_opsz48.svg");
  }

  &__control {
    display: none;
    width: 100%;
    justify-content: center;
    gap: 100px;

    @include onDesktop {
      display: flex;
    }
  }
}
