.searching-page {
  & .search {
    width: 100%;
    height: 60px;
    background-color: $dark-c;
    padding: 10px 40px;

    &__button {
      background-color: $search-bg-color;
      color: $dark-c;
    }

    &__form {
      gap: 20px;
    }
  }

  & .logo {
    @include onTablet {
      display: block;
    }
  }
}
