@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@import "styles/utils/container";
@import "styles/utils/vars";
@import "styles/logo";
@import "styles/header";
@import "styles/search";
@import "styles/gallery";
@import "styles/modal";
@import "styles/searching-page";
@import "styles/pagination";


